{% extends 'base.html' %}

{% block content %}
  <h2>Lista de Usuários</h2>
  <a href="{% url 'sistema_funeraria:criar_usuarios' %}">Criar Usuario</a>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Nível de Acesso</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.user.first_name }} {{ usuario.user.last_name }}</td>
          <td>{{ usuario.user.email }}</td>
          <td>{{ usuario.nivel_acesso }}</td>
          <td>
            <a href="{% url 'sistema_funeraria:editar_usuarios' usuarios.id %}">Editar</a> |
            <a href="{% url 'sistema_funeraria:excluir_usuarios' usuarios.id %}">Excluir</a>
        </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Nenhum usuário encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
