{% extends 'base.html' %}

{% block content %}
  <h2>Lista de Produtos/Serviços</h2>
  <a href="{% url 'sistema_funeraria:criar_produto_servico' %}">Criar Produto/Serviço</a>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Valor Unitário</th>
      <th>Tipo</th>
      <th>Ações</th>
    </tr>
    {% for produto_servico in produtos_servicos %}
    <tr>
      <td>{{ produto_servico.id }}</td>
      <td>{{ produto_servico.nome }}</td>
      <td>{{ produto_servico.descricao }}</td>
      <td>{{ produto_servico.valor_unitario }}</td>
      <td>{{ produto_servico.get_tipo_display }}</td>
      <td>
        <a href="{% url 'editar_produto_servico' produto_servico.id %}">Editar</a> |
        <a href="{% url 'excluir_produto_servico' produto_servico.id %}">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}