{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Painel Principal</h2>
    {% block Barra %}
    <div class="container mt-4">
        <div class="row">
             <div class="col-md-3">
                <!-- Barra lateral -->
                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'sistema_funeraria:dashboard' %}" >Painel</a></li>
                    <li class="list-group-item"><a href="{% url 'sistema_funeraria:lista_clientes' %}">Clientes</a></li>
                    <li class="list-group-item"><a href="{% url 'sistema_funeraria:lista_funcionarios' %}">Funcionários</a></li>
                    <li class="list-group-item"><a href="{% url 'sistema_funeraria:lista_usuarios' %}">Usuários</a></li>
                    <li class="list-group-item"><a href="{% url 'sistema_funeraria:lista_planos' %}">Planos Funerários</a></li>
                    <li class="list-group-item"><a href="{% url 'sistema_funeraria:lista_produtos_servicos' %}">Produtos/Serviços</a></li>
                    <li class="list-group-item"><a href="{% url 'sistema_funeraria:lista_orcamentos' %}">Orçamentos</a></li>
                </ul>
            </div>
            {% endblock %}
    <h3>Quantidade</h3>
    <ul>
      <li>Número de Clientes: {{ clientes }}</li>
      <li>Número de Funcionários: {{ funcionarios }}</li>
      <li>Número de Usuários: {{ usuarios }}</li>
      <li>Número de Planos Funerários: {{ planos }}</li>
      <li>Número de Produtos/Serviços: {{ produtos_servicos }}</li>
      <li>Número de Orçamentos: {{ orcamentos }}</li>
    </ul>

{% endblock %}
